@import 'scss/variables';

.feed {
  a {
    text-decoration: none;
    color: $black;
  }
  .image {
    display: block;
    margin: 8px auto;
    img {
      width: 100%;
    }
  }
  &:not(:last-child){
    border-bottom: 1px solid $gray;
  }
  .footer {
    display: flex;
    color: $gray;
    justify-content: space-between;
  }
}