.masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 0;

    &--content {
        img {
            width: 100%;
            border-radius: 8px;
        }
    }

    &--show {
        visibility: visible;
    }

    &--hide {
        visibility: hidden;
    }

}
