@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;700&display=swap');
@import url("https://use.typekit.net/izn0lgy.css");

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Muli, sans-serif;
}